body {
  padding: 0;
  margin: 0;
}
#options.options {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

/** SIDEBAR */

#options .sidebar {
  width: 25%;
  background-color: rgb(31, 55, 65);
  height: 75%;
  padding: 0;
  margin: 0;
  align-self: flex-start;
  border-radius: 0 0 155px 0;
}

#options .sidebar-list {
  margin: 5px;
  list-style: none;
}

#options .sidebar-link {
  font-size: 1.3rem;
  color: azure;
}

#options .sidebar-link a {
  font-size: 1.5rem;
  color: azure;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#options .sidebar-link a * {
  margin-right: 10px;
  padding: 10px 0;
}

/** MAIN */

#options .main {
  width: 75%;
  height: 100%;
  padding: 0;
  margin: 0;
}
